python3 -m venv venv  # Cria um ambiente virtual
source venv/bin/activate  # Ativa o ambiente no Linux/Mac
.\venv\Scripts\activate  # Ativa o ambiente no Windows
pip install -r requirements.txt  # Instala as dependências
